fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.4
yt-dlp[default,curl-cffi]
python-multipart==0.0.20
slowapi==0.1.9
aiofiles==24.1.0
# Force cache invalidate to update yt-dlp to latest version - July 11, 2026
